@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  scroll-behavior: smooth;
  margin: 0px;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100vw;
}

* {
  box-sizing: border-box;
  font-family: "Noto Sans Thai", sans-serif;
}

.top-slider {
  min-height: 20px;
}

.a-none {
  color: #fff;
  text-decoration: none;
}

.a-none:hover {
  color: #fff;
  text-decoration: none;
}

footer {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  background: #5677fc;
}

.header-bar {
  z-index: 100;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 0.9);
  background: #5677fc;
  padding: 20px 30px;
  border-radius: 0px 0px 30px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-bar h1 {
  color: #fff;
  white-space: 0.5px;
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 0px;
}
.header-bar ul {
  margin: 0px;
}
.header-bar ul li {
  list-style: none;
  margin: 0px;
  color: #fff;
  white-space: 0.5px;
  font-size: 19px;
  font-weight: 400;
}
.header-bar ul li a {
  color: #fff;
  text-decoration: none;
}
.header-bar ul li a:hover {
  text-decoration: underline;
  text-shadow: 1px 1px 1px #fff;
}

.content-temp-humi-now {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
  margin-top: 150px;
}
.content-temp-humi-now .main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.content-temp-humi-now2 {
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.9);
  margin: auto 30px;
  padding: 20px;
  margin-top: 150px;
  display: flex;
  border-radius: 16px;
  flex-direction: column;
  gap: 10px;
}
.content-temp-humi-now2 .content-header {
  border-bottom: 0.2px solid #4e6cef;
}
.content-temp-humi-now2 .content-header h4 {
  margin: 0px;
}

.animation-change-class1 {
  transition: all 0.2 ease;
  opacity: 1;
}

.animation-change-class1.active {
  transition: all 0.2 ease;
  opacity: 0;
}

.animation-change-class2 {
  transition: all 0.2 ease;
  opacity: 1;
}

.animation-change-class2.active {
  transition: all 0.2 ease;
  opacity: 0;
}

.main-content-index {
  overflow-x: hidden;
  border-radius: 15px;
  margin-top: 103px;
  margin-bottom: 50px;
  padding: 91px 46px;
  background: linear-gradient(90deg, #C1DEE8 0%, #FBD9B9 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1386px;
  min-height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  animation: opacityfade 0.5s ease-in;
}
.main-content-index .content p {
  text-shadow: 3px 3px 30px rgba(0, 0, 0, 0);
  animation: fadeData 0.5s ease-in;
}
.main-content-index .content-image img {
  object-fit: cover;
  border-radius: 50%;
  max-width: 500px;
  height: 500px;
}
@keyframes fadeData {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes opacityfade {
  from {
    opacity: 0;
    transition: all 0.2s;
  }
  to {
    transition: all 0.2s;
    opacity: 1;
  }
}

.card-tool {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  overflow: hidden;
  border-radius: 16px;
  margin: auto 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
}
.card-tool img {
  height: 250px;
  object-fit: cover;
}
.card-tool .content-foo {
  text-align: center;
}
.card-tool .content-foo h4 {
  font-weight: 500;
  font-size: 18px;
}

.process-iot-dht {
  width: 90%;
  height: auto;
  object-fit: cover;
}

.box-members {
  width: 100%;
  padding: 10px;
  height: auto;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.box-members img {
  object-fit: cover;
  width: 100%;
  border-radius: 15px;
  height: 350px;
}
.box-members .content {
  text-align: center;
}
.box-members .content p:nth-child(1) {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
.box-members .content p:nth-child(2) {
  margin-bottom: 0px !important;
}

/*# sourceMappingURL=dashboard.css.map */
